.body {
    border: 1px solid none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.box {
    height: 100px;
    width: 100px;
    border: 5px solid rgb(220, 20, 60);
    background-color: rgb(59, 161, 59);
    position: relative;
    display: inline-block;
    animation: box 5s infinite alternate;
    left: 100px;
    top: 0px;
}

@keyframes box {
    0% {
        top: 0vh;
        left: 0%;
    }

    12.5% {
        top: 0vh;
        left: 25vw;
    }

    25% {
        top: 25vh;
        left: 25vw;
    }

    37.5% {
        top: 25vh;
        left: 50vw;
    }

    50% {
        top: 50vh;
        left: 50vw;
    }

    62.5% {
        top: 50vh;
        left: 75vw;
    }

    75% {
        top: 75vh;
        left: 75vw;
        ;
    }

    87.5% {
        top: 75vh;
        left: 100vw;
    }

    100% {
        top: 100vh;
        left: 100vw;
    }
}