.body {
    border: 1px solid white;
    height: 100vh;
    width: 110vw;
    padding-left: -10vw;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#box {
    height: 100px;
    width: 100px;
    border: 1px solid skyblue;
    background-color: rgb(186, 236, 236);
    position: relative;
    display: inline-block;
    animation: DVD 5s linear infinite alternate;
    left: 0px;
    top: 0px;

}

@keyframes DVD {
    to {
        left: 100%;
        top: 100%;
        transform: translate(-100%, -100%);
    }
}